'.source.js':
  'Custom element base definition':
    'prefix': 'cel'
    'body': 'class ${1:className} extends HTMLElement {\n\t$3\n}\nwindow.customElements.define(\'${2:elementName}\', ${1:className});'
  'Ananymous custom element base definition':
    'prefix': 'acel'
    'body': 'window.customElements.define(\'${1:elementName}\', class extends HTMLElement {\n\t$2\n});'
